{% extends 'layouts/base.html' %}

{% block title %}Stock Manager{%endblock%}

{% block content %}

<h1>Shop List : {{ shops|length }} shops managed</h1>

{% for shop in shops %}
    <article>
        <h2><a href ="{% url 'stock_manager:show' id=shop.id %}">#{{ shop.id }} - {{ shop.name|upper }}</a></h2>
	<p>Owner : {{ shop.owner }}</p>
	<p>Address : {{ shop.address }}</p>

	 <p><a href="{% url 'stock_manager:show' id=shop.id  %}">Go to the products management</a></p>

    </article>

    {% if not forloop.last %}
        <hr>
    {% endif %}

{% empty %}
    <p>No Shops yet</p>

{% endfor%}

{% endblock %}
