{% extends 'layouts/base.html' %}

{% block title %}Shop | {{ shop.name }}{%endblock%}

{% block content %}
<p><a href="{% url 'stock_manager:index' %}">Bask to shop list</a></p>

<article>

	<h2>StockReadings of this session:</h2>
	{% for stockreading in stockreadings %}
        <article>
		<h3>StockReading #{{ stockreading.nb_prev }} for : {{ stockreading.product.name }}</h3>
		<p>DLV : {{ stockreading.product.expiry_date }}</p>
		<p>Click <a href="{% url 'stock_manager:sreading' id=stockreading.product.id %}">here</a> to see StockReading history</p>
	</article>
	{% empty %}
            <p>No products yet</p>
        {% endfor%}



</article>



<article>
	<h2>Name : {{ shop.name }}</h2>
	<p>Owner : {{ shop.owner }}</p>
	<p>Address : {{shop.address }}</p>

	<hr>
	<h2>{{ products|length }} Products :</h2>
	
	{% for product in products %}
	<article>
	    <p>Name : {{ product.name  }}</p>
	    <p>Reference : {{ product.reference }}</p>
	    <p>DLV : {{ product.expiry_date }}</p>

        </article>


        {% if not forloop.last %}
            <hr>
        {% endif %}

        {% empty %}
            <p>No products yet</p>
	{% endfor%}

</article>

{% endblock %}
