{% extends 'layouts/base.html' %}

{% block title %}StockReading History{%endblock%}

{% block content %}

<h1>All StockReadings of this product</h1>
<p>Shop name {{ sname  }}</p>
<p>Product name : {{ pname }}</p>
<p>last reference id : {{ rid }}</p>
<p>DLV : {{ dlv }}</p>
<hr>
{% for stockreading in stockreadings %}
    <article>
	    <p>Creation : {{ stockreading.created_at }}</p>
	    <p>Number : {{ stockreading.nb_prev }}</p>
	    </article>

    {% if not forloop.last %}
        <hr>
    {% endif %}

{% empty %}
    <p>No StockReading, strange</p>

{% endfor%}

{% endblock %}
