<nav class="navbar">
	<a href="#" class="navbar-brand">CB+</a>
	<ul class="navbar-right">
		<li><a href="{% url 'home' %}">Home</a></li>
		<li><a href="{% url 'stock_manager:index' %}">stock_manager</a></li>
		<li><a href="{% url 'about' %}">About</a></li>
		<li><a href="{% url 'contact' %}">Contact</a></li>
	</ul>
</nav>
