{% extends 'layouts/base.html' %}

{% block title %}Error 404{%endblock%}

{% block content %}

    <h1>Erreur 404</h1>

    <p><em>{{ error }}</em></p>

    <p>Oops, it seems like you try to go nowhere</p>
    <p>Back to <a href="{% url 'home' %}">homepage</a></p>

{% endblock %}
