{% extends 'layouts/base.html' %}

{% block title %}Error 500{%endblock%}

{% block content %}

    <h1>Erreur</h1>

    <p><em>{{ error }}</em></p>

    <p>Oops, it seems like the server crashed</p>
    <p>Back to <a href="{% url 'home' %}">homepage</a></p> 

{% endblock %}
