@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;

	background-color:#fefefe;
}

*{
	margin: 0;
	padding: 0;
}
