{% extends 'layouts/base.html' %}
{% load i18n %}

{% block title %}Home page{%endblock%}

{% block content %}

<h1>{% trans "Hello Owners" %}</h1>

    <p>Trouvez votre <a href="{% url 'stock_manager:index' %}">shop</a></p>

{% endblock %}
